<header class="header {% if template.name == "index" %} header--transparent {% endif %} header-site">
    <div class="container">
        <div class="header-nav">
            <div class="header-nav__left">
                <div class="header__drop-down js-toggle-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header-nav__center">
                <a href="{{ routes.root_url }}" class="header__logo" title="home">

                    {%  if section.settings.logo %}
                    <picture>
                        <source srcset="{{ section.settings.logo | img_url: "master" }}" media="(min-width: 1360px)">
                        <img src="{{ section.settings.mobile | img_url: "master" }}" alt="logo" class="header__logo-icon">
                    </picture>
                    {% else %}
                    {{ shop.name }}
                    {% endif %}
                </a>
            </div>
            <div class="header-nav__right">
                <ul class="header__controls">
                    <li>
                        <a href="javascript:void(0);" class="header__search">
                            <svg class="header__search-icon" width="23" height="23" viewBox="0 0 23 23" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M9.45021 17.3282C13.5649 17.3282 16.9004 13.9926 16.9004 9.87795C16.9004 5.76331 13.5649 2.42773 9.45021 2.42773C5.33557 2.42773 2 5.76331 2 9.87795C2 13.9926 5.33557 17.3282 9.45021 17.3282ZM9.45021 19.3282C14.6694 19.3282 18.9004 15.0972 18.9004 9.87795C18.9004 4.65874 14.6694 0.427734 9.45021 0.427734C4.231 0.427734 0 4.65874 0 9.87795C0 15.0972 4.231 19.3282 9.45021 19.3282Z"
                                      fill="white"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M21.1455 22.9884L14.6484 16.4914L16.0627 15.0771L22.5597 21.5742L21.1455 22.9884Z"
                                      fill="white"/>
                            </svg>
                        </a>
                        <form action="{{ routes.search_url }}" method="get">
                            <input class="header__search-input" type="search" name="search[main]" id="search-input"
                                  value="{{ search.terms }}" placeholder="Refine your search">
                        </form>
                    </li>

                    <li class="tablet-hide">
                        <a href="{% if customer %}{{ routes.account_url }} {% else %} {{ routes.account_login_url }} {% endif %}" class="header__account">
                            <svg class="header__account-icon" width="24" height="25" viewBox="0 0 24 27" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M22.6229 25.2814V22.5835C22.6229 21.1524 22.0544 19.7799 21.0424 18.7679C20.0305 17.756 18.658 17.1875 17.2269 17.1875H6.43502C5.00392 17.1875 3.63144 17.756 2.6195 18.7679C1.60756 19.7799 1.03906 21.1524 1.03906 22.5835V25.2814"
                                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path
                                        d="M11.8295 11.7919C14.8097 11.7919 17.2255 9.37606 17.2255 6.39596C17.2255 3.41585 14.8097 1 11.8295 1C8.84945 1 6.43359 3.41585 6.43359 6.39596C6.43359 9.37606 8.84945 11.7919 11.8295 11.7919Z"
                                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="header__cart js-header-cart">
                            <svg class="header__cart-icon" width="20" height="24" viewBox="0 0 20 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.86113 22.9333L3.05627 7.39648H17.3921L18.5872 22.9333H1.86113Z"
                                      stroke="white" stroke-width="2"/>
                                <path
                                        d="M14.2697 6.39595C14.2697 3.41585 12.4578 1 10.2227 1C7.98767 1 6.17578 3.41585 6.17578 6.39595"
                                        stroke="white" stroke-width="2"/>
                            </svg>
                            <span class="header__in-cart" id="cart-count" {%- if cart == empty -%} style="display: none;" {% endif %}></span>
                        </a>
                    </li>
                </ul>
                {% if section.settings.button_url %}
                <a href="{{ section.settings.button_url }}" target="_blank" class="btn header__quiz tablet-hide">
                    {{ section.settings.button_text }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <div class="mobile-menu__content">
            {% if section.settings.main-menu %}
            <ul>
                {%- for link in section.settings.main-menu.links  -%}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if section.settings.second-menu %}
            <ul>
                {%- for link in section.settings.second-menu.links -%}
                <li>
                    <a href="{{ link }}">{{ link.title }}</a>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
            <ul>
                <li>
                    <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">{{ "sections.header.sign_in" | t }}</a>
                </li>
            </ul>

        </div>
        {% if section.settings.button_url %}
        <div class="mobile-menu__info">
            {% if section.settings.button_description %}
            <div class="mobile-menu__info--title">
                Not sure what you’re looking for?
            </div>
            {% endif %}

            <div class="mobile-menu__info--btn-wrap">

                <a href="{{ section.settings.button_url }}" a target="_blank" class="btn">
                    {{ section.settings.button_text }}
                </a>
            </div>
        </div>
        {% endif %}
        <div class="mobile-menu__close js-mobile-menu-close">
            <i class="icon icon-i-close"></i>
        </div>
    </div>
</div>
<div class="mobile__search-bg"></div>


<div class="input-search__field mobile__search main-faq__search-wrap">
    <div class="container">
        <input type="search" id="mobile-search" class="main-faq__search js-input-product-search" placeholder="Refine your search">
        <label class="label-search" for="mobile-search">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.3217 8.10999C15.3217 11.8849 12.3188 14.9153 8.65108 14.9153C4.98334 14.9153 1.98047 11.8849 1.98047 8.10999C1.98047 4.33505 4.98334 1.30469 8.65108 1.30469C12.3188 1.30469 15.3217 4.33505 15.3217 8.10999Z" stroke="#B7B4AE" stroke-width="2"></path>
                <path d="M13.4453 12.9883L18.7189 18.3544" stroke="#B7B4AE" stroke-width="2"></path>
            </svg>
        </label>
        <label class="label-close js-search-close" for="mobile-search">
            <i class="icon icon-i-close"></i>
        </label>
    </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
{% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }}
      {{ settings.social_facebook_link | json }}
      {{ settings.social_pinterest_link | json }}
      {{ settings.social_instagram_link | json }}
      {{ settings.social_tiktok_link | json }}
      {{ settings.social_tumblr_link | json }}
      {{ settings.social_snapchat_link | json }}
      {{ settings.social_youtube_link | json }}
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }

</script>

{%- if request.page_type == 'index' -%}
    {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }

  </script>
{%- endif -%}


{% schema %}
{
  "name":"t:sections.header.name",
  "settings": [
    {
      "type":"header",
      "content":"Logo"
    },
    {
      "type":"image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile logo"
    },
    {
      "type": "link_list",
      "id": "main-menu",
      "label": "Main menu"
    },{
      "type": "link_list",
      "id": "second-menu",
      "label": "Second menu"
    },
    {
      "type": "header",
      "content": "Quiz"
    },
    {
    "type":"text",
"id":"button_description",
"default":"Not sure what you’re looking for?",
"label":"Button description"
},
    {
      "type": "text",
      "id": "button_text",
      "default": "Take the Quiz",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url",
      "info": "Leave the link blank to hide the button"
    }
  ]
}
{% endschema %}
